{% import "@SyliusShop/Common/Macro/money.html.twig" as money %}

{{ sonata_block_render_event('cubamatrix.shop.product.min.start', {'product': product}) }}

<div class="ui fluid card">
    <a href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
       class="blurring dimmable image">
        <div class="ui dimmer">
            <div class="content">
                <div class="center">
                    <div class="ui inverted button">{{ 'sylius.ui.view_more'|trans }}</div>
                </div>
            </div>
        </div>
        {% include '@CubaMatrixApp/Product/_normal_image.html.twig' with {'product': product} %}
    </a>
    <div class="content on-bottom">
        <h3>
            <a data-placement="bottom" data-toggle="tooltip" title="{{ product.name|upper }}"
               href="{{ path('sylius_shop_product_show', {'slug': product.slug, '_locale': product.translation.locale}) }}"
               class="header sylius-product-name">{{ product.name }}</a>
        </h3>
        {% if not product.variants.empty() %}
            <div class="sylius-product-price">
                {{ money.calculatePrice(product|sylius_resolve_variant) }}
            </div>
            <div style="text-align: center">
                <button data-modal-body='{% include '@SyliusShop/Product/Show/_inventory.html.twig' %}'
                        data-modal-title='{{ 'sylius.ui.add'|trans }} {{ product.name }}'
                        data-product-price="{{ 'sylius.ui.price'|trans }}: {{ money.calculatePrice(product|sylius_resolve_variant) }}"
                        type="button" class="btn btn-default add2cart" data-toggle="modal"
                        data-target="#shoppingCartModal">
                    {{ 'sylius.ui.add_to_cart'|trans|upper }}
                </button>
            </div>
        {% endif %}
    </div>
</div>

{{ sonata_block_render_event('cubamatrix.shop.product.min.end', {'product': product}) }}
