{% macro item(taxon) %}
    {% import _self as macros %}

    {% if taxon.children|length > 0 %}
        <div class="ui dropdown item">
            <span class="text">{{ taxon.name }}</span>
            <i class="dropdown icon"></i>
            <div class="menu">
                {% for childTaxon in taxon.children %}
                    {{ macros.item(childTaxon) }}
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div style="margin-bottom: 2%" class="col-md-4 col-sm-6">
            <a href="{{ path('sylius_shop_product_index', {'slug': taxon.slug, '_locale': taxon.translation.locale}) }}">
                {% set path = 'assets/cubamatrix/images/categorias/'~taxon.code~'.png' %}
                <img style="max-height: 70px;max-width: 140px"
                     src="{{ asset(path) }}" alt="{{ taxon.name }}" class="ui image centered {% if taxon.slug == constant('CubaMatrix\\Bundle\\AppBundle\\CubaMatrixUtils::CONST_VENTILATION') %}
                        align-ventilation
                {% else %}
                        normal-align
                {% endif %}"/>
                <div style="text-align: center" class="statistic-title">
                    <span><strong>{{ taxon.name }}</strong></span>
                </div>
            </a>
        </div>
    {% endif %}
{% endmacro %}

{% import _self as macros %}

{% if taxons|length > 0 %}
    <div class="content block-white mb-10 p-10-20">
        <div class="row">
            {% for taxon in taxons %}
                {{ macros.item(taxon) }}
            {% endfor %}
        </div>
    </div>
{% endif %}
