<div class="column">
    <a class="big-logo" href="{{ path('sylius_shop_homepage') }}"><img
                src="{{ asset('assets/cubamatrix/images/CUBAMATRIX SIN FONDO.png') }}"
                alt="{{ 'system.logo'|trans }}"
                class="ui small image"/></a>
    <a class="small-logo" href="{{ path('sylius_shop_homepage') }}"><img
                src="{{ asset('assets/cubamatrix/images/LOGO CUBAMATRIX.png') }}"
                alt="{{ 'system.logo'|trans }}"
                class="ui small image"/></a>
    {{ sonata_block_render_event('sylius.shop.layout.header') }}
</div>
