<div class="pull-right">
    {% if is_granted('ROLE_USER') %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ 'sylius.ui.hello'|trans }} {{ app.user.customer.fullName }}!
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item"
                   href="{{ path('sylius_shop_account_dashboard') }}"><i
                            class="fa fa-user-circle-o"></i> {{ 'sylius.ui.my_account'|trans }}</a>
                <a class="dropdown-item" href="{{ path('sylius_shop_logout') }}"><i
                            class="fa fa-sign-out"></i> {{ 'sylius.ui.logout'|trans }}</a>
            </div>
        </div>
    {% else %}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Bienvenido
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="{{ path('sylius_shop_login') }}"><i
                            class="fa fa-sign-in"></i> {{ 'sylius.ui.login'|trans }}</a>
                <a class="dropdown-item" href="{{ path('sylius_shop_register') }}"><i
                            class="fa fa-user-plus"></i> {{ 'sylius.ui.register'|trans }}</a>
            </div>
        </div>
    {% endif %}
</div>
