<div class="pull-right">
    {% if is_granted('ROLE_USER') %}
        {% set user_name = app.user.customer.user|split('@') %}
        <div>
            <a data-placement="left" class="user-actions-btn" data-toggle="tooltip" title="{{ 'sylius.ui.hello'|trans }} {{ user_name[0] }}"
               href="#">
                <i style="font-size: 60px;color: #19b1ef" class="fa fa-user-circle sf-wdth"></i>
            </a>
        </div>
        <div class="actions-box" style="display: none;">
            <ul class="list-unstyled system-user-options">
                <li><a href="{{ path('sylius_shop_account_dashboard') }}"><i
                                class="fa fa-user-circle-o fa-lg"></i> {{ 'sylius.ui.my_account'|trans }}</a></li>
                <li class="divider"></li>
                <li><a href="{{ path('sylius_shop_logout') }}"><i
                                class="fa fa-sign-out fa-lg"></i> {{ 'sylius.ui.logout'|trans }}</a></li>
            </ul>
        </div>
    {% else %}
        <div>
            <a data-placement="bottom" data-toggle="tooltip" title="{{ 'sylius.ui.login'|trans }}"
               href="{{ path('sylius_shop_login') }}">
                <i style="font-size: 60px;color: #19b1ef" class="fa fa-user-o sf-wdth"></i>
            </a>
        </div>
    {% endif %}
</div>
